html, body {
  height: 100%;
}

.reveal {
  height: 100%;
  padding: 5rem;
}

.flex-container {
  background: #fdf6e3;
  display: flex;
  flex-wrap: wrap;
  margin: -1em 0 1em -1em;
}

.flex-item {
  align-items: top;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1em 0 0 1em;
}

.auto {
  flex: auto;
}

[class*='fixed-'] {
  flex: none;
}

.fixed-25 {
  width: 25%;
}

.fixed-50 {
  width: 50%;
}

.content {
  color: #fdf6e3;
  padding: 1rem;
  background: hsla(31, 15%, 50%, .5);
  border-radius: 3px;
  width: 100%;
}
