.flex-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  /*justify-content: space-around;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  transition: all 1.5s cubic-bezier(.75, 0, .1, 1);
}

.flex-item {
  align-items: center;
  background: hotpink;
  counter-increment: flex-item-counter;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  transition: all 1.5s cubic-bezier(.75, 0, .1, 1);
}

[class*='cat-'] {
  background-size: cover;
}

.flex-item:nth-child(even) {
  background-color: lightgreen;
}

.content {
  align-items: center;
  color: black;
  display: flex;
  font-size: 5.4vw;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.content:after {
  content: counter(flex-item-counter);
}

.cat-1 {
  /*background: url('imgs/cat-1.jpg') center -10000px / contain repeat;*/
}

.cat-2 {
  /*background: url('imgs/cat-2.jpg') center -10000px / contain repeat;*/
}

.cat-3 {
  /*background: url('imgs/cat-3.jpg') center -10000px / contain repeat;*/
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}
